@import "tailwindcss";

@theme {
  /* color */
  --color-title-color: #3e3128;
  --color-bg-color: #12110F;
  --color-bg2-color: #1c1816;
  --color-font-color: #dbb954;
  --color-font2-color: #f2e1ca;
  --color-border-color: #7c5f46;
  --color-neutral-color: #eeeeec;
  --color-jaune-dor: #ac4000;
  --color-h2: #ddd5d1;
  --color-fond: #ada9a8;
  --color-font1: orangered;

  /* font */
  --font-font-main: "Montserrat";
  --font-font-secondary: "Grandstander";

  /*Breakpoint*/
/*
  --breakpoint-*: initial;
  --breakpoint-phone: 620px 
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1240px;
*/
  /*animation*/

  /*texte rotation */
  --animate-textRotation: textRotation 1s ease-in-out 3;

  @keyframes textRotation {
    0% {
      transform: rotateX(0deg);
    }

    100% {
      transform: rotateX(360deg);
    }
  }

  /* fadein */

  --animate-fadein: fadein 1500ms;

  @keyframes fadein {

    0%,
    14%,
    28%,
    42%,
    60%,
    85% {
      opacity: 0;
    }

    7%,
    35% {
      opacity: 0.1;
    }

    21%,
    50%,
    70% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

}

/* In your custom CSS file or inside tailwind.css */